@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Outfit;
}
body {
        background-color: rgb(13, 13, 13);
        color: #efefef;
}
  
.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 10%;
    background:transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
.logo
{
    position:relative;
    font-size:25px;
    color:#fff;
    text-decoration: none;
    font-weight:600;
    opacity:0;
    animation:slideRight 1s ease forwards;
}
.navbar a{
    display:inline-block;
    font-size:25px;
    color:#fff;
    text-decoration: none;
    font-weight:500;
    margin-left: 35px;
    transition:.3s;
    opacity:0;
    animation:slideTop .5s ease forwards;
}
.navbar a:hover{
    color:rgb(220, 72, 92);

}
.emoji {
    font-size: 48px; /* Makes the emoji larger */
    opacity: 0.8; /* Makes the emoji slightly transparent */
    transform: rotate(20deg); /* Rotates the emoji */
  }
  
.home{
    position:relative;
    width:100%;
    justify-content: space-between;
    height:100vh;
    display:flex;
    align-items:center;
    padding :70px 10%;
     
}
.te{
    margin-top: 40px;
    padding-top:20;
}
.te .text{
    color:rgb(220, 72, 92);
}
.te .text.first-text{
    color:#efefef;
}
.text.sec-text:before{ 

}
.homecontent h3{
    font-size:40px;
    font-weight:700;
    opacity:0;
    animation: slideBottom 1s ease forwards;
    animation-delay:.7s;
}
.homecontent h3 span{
    color:rgb(220, 72, 92);
}
.homecontent h3:nth-of-type(2){
    margin-bottom:30px;
}
.homecontent h1{
    font-size:56px;
    font-weight: 700;
    margin:-3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay:.7s;
}
.homecontent p{
    font-size:20px ;
    animation: slideLeft 1s ease forwards;
    animation-delay:.7s;
}
.myaboutcontent{
    padding:80px;
}
.myaboutcontent h1{
    font-size:70px;
    padding-bottom:20px;
    margin:-3px 0;
}
.myaboutcontent h1 span{
    color:rgb(220, 72, 92);
}
.myaboutcontent p{
    font-size:25px;
}

.myaboutcontent p span{
    color:rgb(220, 72, 92);
}
.myaboutcontent i{
    display:inline-block;
    color:rgb(220, 72, 92);
    font-size:20px;
    padding:20px;
}
.phot{
    width:23%;
    margin:auto;
    display:flex;
    float:right;
    border-radius: 20%;
    margin-left: 10px; 
}
.ph{
    width:40%;
    display:flex;
    float:right;
    
}
.p1{
 
    width:50%;
    box-shadow:0 0 20px #fff;
}
.home-sci a{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background:transparent;
    border:2px solid whitesmoke;
    border-radius:50%;
    font-size:20px;
    color:whitesmoke;
    text-decoration:none;
    transition: .5s ease;
    opacity:0;
    animation:slideLeft 1s ease forwards;
    animation-delay:calc(.2s*var(--i));
    margin:30px 15px 30px 0;

}


.home-sci a:hover{
    box-shadow:0 0 20px #fff;
}
.btn-box{
    display:inline-block;
    padding:12px 20px;
    background:rgb(237,241,244);
    border-radius:40px;
    font-size:16px;
    color:#081b29;
    letter-spacing:1px;
    text-decoration: none;
    font-weight:600;
    gap:10px;
}
.btn-box:hover{
    box-shadow:0 0 20px #fff;
}
.contents{
    padding:0px 30px;
    border-left:2px solid #fff;
}
.about-text{
    padding:90px;
    text-align: center;
}
.about-text h2{
    font-size:70px;

}
.about-text h2 span{
    color:rgb(220, 72, 92);
}
.about-text h4{
    font-size:20px;
    font-family: sans-serif;
    color:#fff;
    margin:15px 0 5px;
    margin-left: 10px;
}
.about-text p{
    padding-top:20px;
    padding-left: 10px;
}
.about-text h3{
    padding:10px;
}
.box{
    position:relative;
    padding:25px;
    border:1px solid #fff;
    border-radius: 20px;
    margin:30px;
}
.box:hover{

    box-shadow: 0px 3px 12px 0px #ccc;
    border:1px solid transparent;
}


.box h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: rgb(220, 72, 92);
}

.box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.box p {
    font-size: 1rem;
    line-height: 1.5;
}
.about-text p{
    color:#fff;
    font-size:20px;
    line-height:1.4;
    margin-bottom:4rem;
}
.services{
    font-size:20px;
    line-height:1.4;
    margin-bottom:4rem;
}
.sub-title{
    text-align: center;
    font-size:70px;
    padding-bottom:70px;
}
.sub-title span{
    color:rgb(220, 72, 92);
}

.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.services-list div{ 
    background-color:transparent;
    padding:40px;
    font-size:13px;
    border-right:10px;
    border-radius:20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow:1px 1px 20px rgb(220, 72, 92),1px 1px 40px rgb(220, 72, 92);
}
.services-list div i{
    font-size:45px;
    margin-bottom:30px;
}
.services-list div h2{
    font-size:25px;
    font-weight: 500;
    margin-bottom:15px;
}
.services-list div a{
    text-decoration: none;
    color:#fff;
    font-size:12px;
    margin-top:20px;
    display:inline-block;
}
.read{
    display:inline-block;
    padding:12px 28px;
    background:rgb(57, 56, 56);
    border-radius:40px;
    font-size:16px;
    color:black;
    letter-spacing:1px;
    font-weight:600;
    opacity:0;
    animation:slideTop 1s ease forwards;
    animation-delay:2s;
    box-shadow:0 0 5px #767575,0 0 25px #7f7d7d;

}
.read:hover{
    background:rgb(212, 217, 217);
    color: #081b29;
    box-shadow:0 0 20px #d6cfcf;
}
.services-list div:hover{
    transform:translateY(-10px);
}
.containersk{
    padding:80px;
}

.containerpr{
    padding:80px;
}

.technical-bars {
    display: flex;
    justify-content: space-around; /* Adjust spacing as needed */
    flex-wrap: wrap;
    margin-left: 40px;
  }
.bar{
    display:inline-flex;
    align-items:center;
    justify-content: center;
    width:50px;
    height:50px;
    border:2px solid rgb(227, 219, 219);
    border-radius:20%;
    font-size:40px;
    padding:60px; 
    margin:40px 15px;

}
.bar:hover{    
box-shadow:0 0 20px #fff;
}

.heading1{
    text-align: center;
    font-size: 30px;
}
.tool-bars {
    display: flex; 
    margin-left: 40px;
    justify-content: center;
  }
.too{
    display:inline-flex;
    align-items:center;
    justify-content: center;
    width:50px;
    height:50px;
    border:2px solid rgb(227, 219, 219);
    border-radius:20%;
    font-size:40px;
    padding:60px; 
    margin:40px 15px;
}
.too:hover{
    box-shadow:0 0 20px #fff;
}

small{
    margin-left: 10px;
}
.contact{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    align-items:center;
    gap:3rem;
    padding-left:30px;
    margin-top:130px;
}
.contactphoto{
    width:500px;
    align-items:center;
}

.contact-text{
    align-items: center;
    text-align:center;
}
.contact-text h2{
    font-size:90px;
    line-height:1;
    text-align:center;
}
.contact-text h2 span{
    color:rgb(220, 72, 92);
}
.contact-text h4{
    margin:15px 0;
    color:rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color:rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom:2rem;
}
.contact-list{

}
.contact-list li{
    margin-bottom:10px;
    display:block;
}
.contact-list i{
    display:inline-block;
    color:#fff;
    font-size:20px;
    font-weight:600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform:scale(1.01) translate(-5px);
    color:rgb(220, 72, 92);
}
.contact-icons i{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background:transparent;
    border:2px solid rgb(254, 255, 255);
    border-radius: 50%;
    font-size: 20px;
    color:rgb(254, 255, 255);
    text-decoration:none;
    margin:0px 15px 0px 0;
    opacity:0;
    animation:slideLeft 1s ease forwards;
    animation-delay:calc(.2s*var(--i));
}
.contact-icons i:hover{
    box-shadow:0 0 20px #fff;

}
.contact-form form{
    position:relative;
}
.contact-form form input,form textarea{
    border:none;
    outline:none;
    width:90%;
    padding:18px;
    background:grey;
    color:#000;
    font-size:1rem;
    font-weight:600;
    margin-bottom:0.5rem;
    border-radius:0.5rem;
}
.contact-form textarea{
    resize:none;
    height:220px;
}
.contact-form form .send
{
    display:inline-block;
    padding:12px 28px;
    background:rgb(220, 72, 92);
    border-radius:40px;
    font-size:16px;
    color:black;
    letter-spacing:1px;
    font-weight:600;
    opacity:0;
    animation:slideTop 1s ease forwards;
    animation-delay:2s;
}
.contact-form form .send:hover{

box-shadow:0 0 20px #d6cfcf;
background:rgb(212, 217, 217);
color: #081b29;
}
.last-text p{
    width:100%;
    text-align:center;
    padding:25px 0;
    background:rgb();
    font-weight:300;
    margin-top:1px;
}
.top{
    background-color: rgb(6, 11, 15);
    position:fixed;
    bottom:2.1rem;
    right:2.1rem;
}
.top i{
    color:#000;
    background:white;
    font-size:20px;
    padding:10px;
    border-radius:0.5rem;
}

@keyframes slideRight{
    0%{
        transform:translateX(-100px);
        opacity:0;
    }
    100%{
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes slideLeft{
    0%{
        transform:translateX(100px);
        opacity:0;
    }
    100%{
        transform:translateX(0px);
        opacity:1;
    }
}
@keyframes slideTop{
    0%{
        transform:translateY(100px);
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
@keyframes slideBottom{
    0%{
        transform:translateY(-100px);
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}
@keyframes waveAnimation {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(-20deg); }
    40% { transform: rotate(10deg); }
    60% { transform: rotate(-20deg); }
    80% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
  }
  
  .emoji {
    display: inline-block;
    font-size: 48px;
    animation: waveAnimation 1.5s ease-in-out infinite;
  }
  .timeline{
    position:relative;
    max-width:1400px;
    margin:auto;
}
.container{
    padding:10px 50px;
    position:relative;
    width:50%;
    animation: movedown 1s linear forwards;
    opacity:0;
}
@keyframes movedown{
    0%{
        opacity:1;
        transform:translateY(-30px);
    }
    100%
    {
        opacity:1;
        transform:translateY(0px);
    }
}

.container:nth-child(1){
    animation-delay:0s;
}
.container:nth-child(2){
    animation-delay:1s;
}
.container:nth-child(3){
    animation-delay:2s;

}
.text-box{
    color:#efefef;
    padding:20px 30px;
    font-size:20px;
    background-color:rgb(13, 13, 13);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    box-shadow:0 0 10px #fff;
    /*box-shadow:1px 1px 20px rgb(220, 72, 92),1px 1px 40px rgb(220, 72, 92);*/
}
.container-left{
    left:0;
}
.container-right{
    left:50%;
}
.ph1{
    position:absolute;
    width:60px;
    background:transparent;
    right:-20px;
    top:32px;
    z-index:10;
 
}
.ph2{
    position:absolute;
    width:60px;
    background:transparent;
    right:-20px;
    top:32px;
    z-index:10;
    left:-20px;
}

.phg{
    position:absolute;
    width:80px;
    background:transparent;
    right:-35px;
}
.timeline::after
{
    content:'';
    position:absolute;
    width:6px;
    height:100%;
    background:#fff;
    top:0;
    left:50%;
    margin-left: -3px;
    z-index:-1;
    animation:moveline 6s linear forwards;
}
@keyframes moveline{
    0%{
        height:0;
    }
    100%{
        height:100%;
    }
}
.text-box{
    display:inline-block;
    margin: bottom 15px ;
}
.container-left-arrow{
    height:0;
    width:0;
    position:absolute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right:-15px;
}
.container-right-arrow{
    height:0;
    width:0;
    position:absolute;
    top:28px;
    z-index:1;
    border-top:15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left:-15px;

}
.project-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    padding:40px;
    font-size:13px;
    border-right:10px;
    border-radius:20px;
    transition: background 0.5s,transform 0.5s;
    box-shadow:1px 1px 20px rgb(220, 72, 92),1px 1px 40px rgb(220, 72, 92);
}


.project-box p{
    margin-bottom:15px;
    text-align: center;
}
.project-box h3{
    text-align: center;
    margin-top:0;
}
.project-box1 {
    max-width: 300px;
}

.project-box2{
    max-width: 250px;
    border-radius: 5px;
    margin-bottom: 45px;
    margin-left: 0;

}

.project-box3{
    max-width: 260px;
}

.project-box4{
    max-width: 260px;
    margin-bottom: 20px;
    margin-top: -10px;
}
.project-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.btn-box1{
    align-items: center;
    display:inline-block;
    background:rgb(237,241,244);
    border-radius:40px;
    font-size:10px;
    color:#081b29;
    text-decoration: none;
    opacity:0;
    animation:slideTop 1s ease forwards;
    animation-delay:2s;
    margin-right: 30px;

}
.btn-box1:hover{
    box-shadow:0 0 20px #fff;
}
.project-box:hover{
    transform:translateY(-10px);
}
.project-box a {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    color: inherit; /* Optional: Inherit color from parent */
    text-decoration: none; /* Remove underline */
}